Repository NicholeMattera/Outclimb.gay: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": ["prettier --write --ignore-unknown", "eslint"],
    "**/*.{scss,json}": "prettier --write --ignore-unknown"
}

✨ Improved font loading and improved performance with smaller fonts
  public/assets/fonts/montserrat-bold.woff2
  public/assets/fonts/montserrat-regular.woff2
  src/index.scss
Due: prettier --write --ignore-unknown

🔧 Added support for importing SVG files
  src/custom.d.ts
  tsconfig.json
Due: prettier --write --ignore-unknown, eslint

🐛 Fixed fade animation issue with header on dark mode
  src/components/Header/Header.scss
Due: prettier --write --ignore-unknown

🔧 Added build watch script
  package.json
Due: prettier --write --ignore-unknown

🐛 Fixed the hero image positioning on mobile for the Meet the Team page
  public/assets/images/meet_the_team-2x.webp
  public/assets/images/meet_the_team.webp
  src/views/MeetTheTeam/MeetTheTeam.tsx
Due: prettier --write --ignore-unknown, eslint

🐛 Fixed Vite lookaside plugin to update favicon URLs as well
  vite.config.mts
Due: none
