Repository NicholeMattera/Outclimb.gay: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint"],
    "*.scss": ["prettier --write"],
    "*.json": ["prettier --write"]
}

🚨 Fixed linting errors
  .eslintignore
  .eslintrc
  .prettierignore
  README.md
  index.html
  src/components/Header/Header.tsx
  src/components/PageContent/PageContent.tsx
  tsconfig.json
  tsconfig.node.json
Due: prettier --write, eslint

⚡️ Improved image load times on the homepage, events and contact page
  public/assets/images/charles-2x.webp
  public/assets/images/charles.webp
  public/assets/images/contact-2x.webp
  public/assets/images/contact.webp
  public/assets/images/events-2x.webp
  public/assets/images/events.webp
  public/assets/images/home1-2x.webp
  public/assets/images/home1.webp
  public/assets/images/home2-2x.webp
  public/assets/images/home2.webp
  src/components/Blurb/Blurb.scss
  src/components/Blurb/Blurb.tsx
  src/components/Card/Card.tsx
  src/components/Hero/Hero.tsx
  src/views/Contact/Contact.tsx
  src/views/Events/Events.tsx
  src/views/Home/Home.tsx
  src/views/NotFound/NotFound.tsx
Due: prettier --write, eslint

🐛 Fixed resizing bugs with hero images
  src/components/Hero/Hero.scss
Due: prettier --write

🐛 Improve mobile experience for the hero image
  src/components/Hero/Hero.scss
Due: prettier --write

✨ Added Ice Festival redirect
  internal/api/redirect.go
Due: none

✨ Added Nickel's section
  public/assets/images/nickel-2x.webp
  public/assets/images/nickel.webp
  src/views/MeetTheTeam/MeetTheTeam.tsx
Due: prettier --write, eslint

⬆️ Upgraded Node and dependencies
  .nvmrc
  package-lock.json
  package.json
  tsconfig.node.json
  vite.config.mts
Due: prettier --write

✨ New contact page
  public/assets/images/contact-2x.webp
  public/assets/images/contact.webp
  src/views/Contact/Contact.scss
  src/views/Contact/Contact.tsx
Due: prettier --write, eslint

🐛 Fixed issue with the Donate button text on light theme
  src/components/Header/Header.scss
Due: prettier --write

🐛 Fixed issue with 1x and 2x photo for Nickel being different
  public/assets/images/nickel.webp
Due: none

🔨 Created script to generate monthly events
  .eslintignore
  package-lock.json
  package.json
  scripts/generate_events/bouldering_meetup.json
  scripts/generate_events/index.js
Due: prettier --write, eslint

🧱 Made the generate event script run monthly on the 15th
  cron.dockerfile
  docker-compose.yml
  dockerfile
  scripts/generate_events/crontab
  scripts/generate_events/entrypoint.sh
Due: none

🔨 Added deploy script
  .gitignore
  scripts/deploy/index.sh
Due: none

🔧 Fixed Prettier to not run through ESLint
  .eslintrc
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier --write

✨ Added additional image fields to events
  internal/api/middleware/database.go
  internal/model/event.go
Due: none

⚡️ Made events use the new 2x and small images
  src/types/EventResponse.ts
  src/views/Event/Event.tsx
  src/views/Events/Events.tsx
  src/views/Home/Home.tsx
Due: prettier --write, eslint

🍱 Added new 2x and small event assets
  public/assets/images/holiday-2x.webp
  public/assets/images/holiday-small-2x.webp
  public/assets/images/holiday-small.webp
  public/assets/images/holiday.webp
  public/assets/images/party-2x.webp
  public/assets/images/party-small-2x.webp
  public/assets/images/party-small.webp
  public/assets/images/party.webp
  public/assets/images/redwing-2x.webp
  public/assets/images/redwing-small-2x.webp
  public/assets/images/redwing-small.webp
  public/assets/images/redwing.webp
  public/assets/images/sandstone-2x.webp
  public/assets/images/sandstone-small-2x.webp
  public/assets/images/sandstone-small.webp
  public/assets/images/sandstone.webp
  public/assets/images/silver_bay_1-2x.webp
  public/assets/images/silver_bay_1-small-2x.webp
  public/assets/images/silver_bay_1-small.webp
  public/assets/images/silver_bay_1.webp
  public/assets/images/silver_bay_2-2x.webp
  public/assets/images/silver_bay_2-small-2x.webp
  public/assets/images/silver_bay_2-small.webp
  public/assets/images/silver_bay_2.webp
  public/assets/images/taylor_falls-2x.webp
  public/assets/images/taylor_falls-small-2x.webp
  public/assets/images/taylor_falls-small.webp
  public/assets/images/taylor_falls.webp
  public/assets/images/winona-2x.webp
  public/assets/images/winona-small-2x.webp
  public/assets/images/winona-small.webp
  public/assets/images/winona.webp
Due: none

💄 Changed colors for dark mode
  src/components/Button/Button.scss
  src/styles/colors.scss
Due: prettier --write

🔧 Updated repository URLs
  package.json
  scripts/deploy/index.sh
Due: prettier --write

✨ Added Randi's section
  public/assets/images/randi-2x.webp
  public/assets/images/randi.webp
  src/views/MeetTheTeam/MeetTheTeam.tsx
Due: prettier --write, eslint

✨ Added support for frontend lookasides
  internal/api/frontend.go
  internal/api/router.go
Due: none

🏗️ Moved lookasides to docker volume
  docker-compose.yml
  internal/api/frontend.go
Due: none

🔨 Created lookaside script
  scripts/lookaside/create-lookaside.dockerfile
  scripts/lookaside/delete-lookaside.dockerfile
  scripts/lookaside/index.sh
Due: none

👷 Added CI jobs for creating and deleting lookasides
  .github/workflows/create-lookaside.yml
  .github/workflows/delete-lookaside.yml
Due: none

🐛 Removed vite.svg reference
  index.html
Due: none

🔧 Updated Vite config to inject lookaside version to asset in index file
  scripts/lookaside/create-lookaside.dockerfile
  scripts/lookaside/index.sh
  vite.config.mts
Due: none

👷 Updated workflow names
  .github/workflows/create-lookaside.yml
  .github/workflows/delete-lookaside.yml
Due: none

✨ Made the frontend support passing through lookaside version query parameter
  src/components/Blurb/Blurb.tsx
  src/components/Card/Card.tsx
  src/components/Header/Header.tsx
  src/components/Hero/Hero.tsx
  src/components/Link/Link.tsx
  src/components/Menu/Menu.tsx
  src/hooks/useImageSourceSet.ts
  src/hooks/useVersion.ts
  src/views/Events/Events.tsx
Due: prettier --write, eslint

🐛 Fixed typo in lookaside script
  scripts/lookaside/index.sh
Due: none

🐛 Fixed syntax in lookaside script
  scripts/lookaside/index.sh
Due: none

🔨 Disable build cache on deploy and lookaside scripts
  scripts/deploy/index.sh
  scripts/lookaside/index.sh
Due: none

🐛 Fixed volume name in lookaside script
  scripts/lookaside/index.sh
Due: none

🔧 Updated waiver and name for Bouldering Project event generation
  scripts/generate_events/bouldering_meetup.json
Due: prettier --write

🐛 Fixed an issue with updating lookasides
  scripts/lookaside/create-lookaside.dockerfile
Due: none

🐛 Fixed an issue with lookaside containers and images not being deleted
  scripts/lookaside/index.sh
Due: none

✨ Added favicons
  index.html
  public/assets/images/apple-touch-icon.png
  public/assets/images/favicon.svg
  public/assets/images/google-touch-icon.png
  public/assets/images/mask-icon.svg
  public/assets/manifest.json
Due: prettier --write

✨ Updated 404 page
  src/views/NotFound/NotFound.scss
  src/views/NotFound/NotFound.tsx
Due: prettier --write, eslint

🐛 Fixed the logo on the mobile menu
  src/components/Menu/Menu.scss
  src/components/Menu/Menu.tsx
Due: prettier --write, eslint

✨ Updated design and logo
  public/assets/images/logo_dark.webp
  public/assets/images/logo_light.webp
  public/assets/images/meet_the_team-2x.webp
  public/assets/images/meet_the_team.webp
  src/components/Blurb/Blurb.scss
  src/components/Header/Header.scss
  src/components/Header/Header.tsx
  src/components/Hero/Hero.scss
  src/components/Hero/Hero.tsx
  src/components/Logo/Logo.tsx
  src/components/PageContent/PageContent.scss
  src/components/PageContent/PageContent.tsx
  src/types/HeroType.ts
  src/views/Contact/Contact.scss
  src/views/Contact/Contact.tsx
  src/views/Event/Event.scss
  src/views/Event/Event.tsx
  src/views/Events/Events.scss
  src/views/Events/Events.tsx
  src/views/Home/Home.scss
  src/views/Home/Home.tsx
  src/views/MeetTheTeam/MeetTheTeam.scss
  src/views/MeetTheTeam/MeetTheTeam.tsx
  src/views/NotFound/NotFound.tsx
Due: prettier --write, eslint

✨ Added ability to specifiy image position for the hero component
  src/components/Hero/Hero.tsx
Due: prettier --write, eslint
